
BlackJack_in_C\+\+/\.vs/BlackJack_in_C\+\+/v15/\.suo

BlackJack_in_C\+\+/\.vs/BlackJack_in_C\+\+/v15/Browse\.VC\.db

BlackJack_in_C\+\+/\.vs/BlackJack_in_C\+\+/v15/Browse\.VC\.opendb

BlackJack_in_C\+\+/\.vs/BlackJack_in_C\+\+/v15/ipch/b3fbc60be7e3519c\.ipch

BlackJack_in_C\+\+/BlackJack_in_C\+\+\.sln

BlackJack_in_C\+\+/BlackJack_in_C\+\+/BlackJack_in_C\+\+\.vcxproj

BlackJack_in_C\+\+/BlackJack_in_C\+\+/BlackJack_in_C\+\+\.vcxproj\.filters

BlackJack_in_C\+\+/BlackJack_in_C\+\+/BlackJack_in_C\+\+\.vcxproj\.user

BlackJack_in_C\+\+/BlackJack_in_C\+\+/Debug/BlackJack_in_C\+\+\.log

BlackJack_in_C\+\+/BlackJack_in_C\+\+/Debug/BlackJack_in_C\+\+\.obj

BlackJack_in_C\+\+/BlackJack_in_C\+\+/Debug/BlackJack_in_C\+\+\.pch

BlackJack_in_C\+\+/BlackJack_in_C\+\+/Debug/BlackJack_in_C\+\+\.tlog/BlackJack_in_C\+\+\.lastbuildstate

BlackJack_in_C\+\+/BlackJack_in_C\+\+/Debug/BlackJack_in_C\+\+\.tlog/CL\.command\.1\.tlog

BlackJack_in_C\+\+/BlackJack_in_C\+\+/Debug/BlackJack_in_C\+\+\.tlog/CL\.read\.1\.tlog

BlackJack_in_C\+\+/BlackJack_in_C\+\+/Debug/BlackJack_in_C\+\+\.tlog/CL\.write\.1\.tlog

BlackJack_in_C\+\+/BlackJack_in_C\+\+/Debug/BlackJack_in_C\+\+\.tlog/link\.command\.1\.tlog

BlackJack_in_C\+\+/BlackJack_in_C\+\+/Debug/BlackJack_in_C\+\+\.tlog/link\.read\.1\.tlog

BlackJack_in_C\+\+/BlackJack_in_C\+\+/Debug/BlackJack_in_C\+\+\.tlog/link\.write\.1\.tlog

BlackJack_in_C\+\+/BlackJack_in_C\+\+/Debug/stdafx\.obj

BlackJack_in_C\+\+/BlackJack_in_C\+\+/Debug/vc141\.idb

BlackJack_in_C\+\+/BlackJack_in_C\+\+/Debug/vc141\.pdb

BlackJack_in_C\+\+/BlackJack_in_C\+\+/stdafx\.cpp

BlackJack_in_C\+\+/BlackJack_in_C\+\+/stdafx\.h

BlackJack_in_C\+\+/BlackJack_in_C\+\+/targetver\.h

BlackJack_in_C\+\+/Debug/BlackJack_in_C\+\+\.exe

BlackJack_in_C\+\+/Debug/BlackJack_in_C\+\+\.ilk

BlackJack_in_C\+\+/Debug/BlackJack_in_C\+\+\.pdb
